/* body {
  max-width: 768px;
} */

div {
  background: #888;
  box-sizing: border-box;
  outline: dotted 1px orange;
  width: 100%;
}

p {
  text-align: center;
  vertical-align: middle;
}

#id-a {
  line-height: 75px;
  /* height: 75px; */
  height: 10%;
}

#id-b {
  line-height: 150px;
  /* height: 150px; */
  height: 20%;
}

#id-c, #id-d {
  line-height: 125px;
  /* height: 125px; */
  height: 16%;
}

#id-e, #id-f, #id-g, #id-h {
  float: left;
  height: 250px;
  line-height: 250px;
  width: 50%;
  /* width: 50%; */
  /* clear: both; */
}

#id-i {
  clear: both;
  line-height: 80px;
  /* height: 80px; */
  height: 10%;
}

@media (min-width: 768px) {
  body {
    max-width: 960px;
  }

  #id-a {
    line-height: 100px;
    height: 100px;
    /* width: 960px; */
    width: 100%;
  }
  
  #id-b{
    float: left;
    line-height: 600px;
    height: 600px;
    width: 20%;
  }
  
  #id-c, #id-d {
    float: left;
    line-height: 200px;
    height: 200px;
    width: 40%;
  }
  
  #id-e, #id-f, #id-g, #id-h {
    float: left;
    height: 250px;
    line-height: 250px;
    width: 20%;
  }
  
  #id-i {
    clear: none;
    float: left;
    height: 150px;
    line-height: 150px;
    width: 80%;
  }
}